<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/theme.css" type="text/css">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
		<title>{{ title }} | Gepflückt Admin</title>
	</head>
	<body>
		<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/" style="margin-right:30px">Gepflückt Admin</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav ml-auto">
		      <li class="nav-item dropdown active">
		        <a class="nav-link dropdown-toggle mr-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img src="/static/profile.jpg" class="mr-2 rounded-circle" width="30" height="30"> <b>{{ user.nick }}</b>
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <!--<a class="dropdown-item" href="/logout">Account bearbeiten</a>-->
		          <!--<a class="dropdown-item" href="/">Geld anfordern</a>-->
		          <!--<div class="dropdown-divider"></div>-->
		          <a class="dropdown-item" href="/logout">Ausloggen</a>
		        </div>
		      </li>
		    </ul>
		  </div>
		</nav>
		<div class="alertBar">
			{{#if alert}}
			<div class="alert alert-{{ alert.type }}" role="alert">
			  {{{ alert.msg }}}
			</div>
			{{/if}}
		</div>
		<div class="container-fluid">
			<div class="row">
				<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">

					<div class="d-block text-center pl-3 pr-3">
						<a href="/produkte/neu" class="btn btn-success btn-block mb-3">Neues Produkt</a>
					</div>

					<div class="dropdown-divider" style="margin-top:20px"></div>

          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link{{#is title "Dashboard"}} active{{/is}}" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{{#is title "Produkte"}} active{{/is}}" href="/produkte">Alle Produkte</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link{{#is title "Meine Produkte"}} active{{/is}}" href="/produkte/meine">Meine Produkte</a>
            </li>
						<li class="nav-item">
              <a class="nav-link{{#is title "Tags"}} active{{/is}}" href="/tags">Tags</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{{#is title "Statistiken"}} active{{/is}}" href="#">Statistiken</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{{#is title "Hilfe"}} active{{/is}}" href="#">Hilfe</a>
            </li>
          </ul>
        </nav>
				<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3 pl-5">
					{{{ body }}}
        </main>
			</div>
		</div>

		<!-- Are you sure? Modal -->
		<div class="modal" tabindex="-1" role="dialog" id="aysModal">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title aysWhat"></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p>Bist du dir sicher dass du <b class="aysWhat">...</b> ausführen willst.</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" id="aysAgree">Ja</button>
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nein</button>
		      </div>
		    </div>
		  </div>
		</div>
	</body>
</html>
