<div class="container">

  <form class="loginForm" method="POST" action="/login">
    <h2>Please sign in</h2>
    <label for="nick" class="sr-only">Benutzername</label>
    <input type="text" name="nick" class="form-control" placeholder="Benutzername" required autofocus>
    <label for="password" class="sr-only">Passwort</label>
    <input type="password" name="password" class="form-control" placeholder="Passwort" required>
		<br />
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Einloggen">
  </form>

</div>
