<h1 class="mb-3">Neues Produkt</h1>

<form method="POST" action="/produkte/neu">
	<div class="card bg-info text-white text-center">
		<div class="card-header">
	    Amazon Link
	  </div>
		<div class="card-body">
			<div class="input-group">
				<input type="text" class="form-control" id="amazonUrl" name="amazonUrl" value="{{ amazonUrl }}">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-secondary">Daten laden</button>
				</span>
			</div>
		</div>
	</div>
</form>

{{#if form}}
	<form method="POST" action="/produkte/speichern" class="mt-3">


		<input type="hidden" name="product_url" value="{{ link }}" />
		<input type="hidden" name="asin" value="{{ asin }}" />

		<div class="form-row">



			<div class="col-3">
				<div class="card">
					<div class="card-header">Bild</div>
					<div class="card-body">
						<div class="card-text">
							{{#each images}}
							<img src="{{ MediumImage.URL }}" data-value="{{ LargeImage.URL }}" class="imgSelector img-thumbnail mb-2" style="width:100%; opacity:0.3;" />
							{{/each}}
							<input type="hidden" name="image_url" id="image" value="" />
						</div>
					</div>
				</div>
			</div>



			<div class="col-9">
				<div class="card">
					<div class="card-header">Daten</div>
					<div class="card-body">
						<p class="card-text">
							<div class="form-group">
								<label for="title">Titel</label>
								<input type="text" class="form-control" id="title" name="title" placeholder="Titel" value="{{ title }}">
							</div>
							<div class="form-group mb-0">
								<label for="description">Beschreibung</label>
								<textarea type="text" class="form-control" id="description" name="description" placeholder="Beschreibung">{{ description }}</textarea>
								<small><span id="descriptionLength"></span> Zeichen</small>
							</div>
						</p>
					</div>
				</div>



				<div class="card mt-3">
					<div class="card-header">Kategorien</div>
					<div class="card-body">
						<div class="card-columns" style="orphans: 1; widows:1;">
							{{#each tags}}
								<div class="card">
									<div class="form-check card-header mb-0">
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" name="tags" value="{{ _id }}">
											{{ name }}
										</label>
									</div>
									{{#if children.length}}
									<div class="card-body">
										{{#each children as |child|}}
										<div class="form-check">
										  <label class="form-check-label">
										    <input class="form-check-input" type="checkbox" name="tags" value="{{ child._id }}">
												{{ child.name }}
										  </label>
										</div>
										{{/each}}
									</div>
									{{/if}}
								</div>
							{{/each}}
						</div>
					</div>
				</div>

				<input type="submit" class="btn btn-success btn-lg btn-block mt-4 mb-5" value="Speichern" />

			</div>
		</div>
	</form>

	<script type="text/javascript">

		$( document ).ready(function() {

			function updateDescriptionLength() {
				let $val = $('#description').val();
				$('#descriptionLength').html($val.length);
			}

			updateDescriptionLength();

			$('#description').on('input', updateDescriptionLength)

			$('.imgSelector').on('click', function() {
				$('.imgSelector').css({ 'opacity' : '0.3', 'box-shadow' : 'none' });
				$(this).css({ 'opacity' : '1', 'box-shadow' : '0px 0px 10px #28a745' });
				$('#image').val($(this).data('value'))
			})

			$('.categoryChildSelect').on('click', function(e) {
				e.stopPropagation()
				$(this).toggleClass('active border-white')
			})

			$('.categorySelect').on('click', function(e) {
				$(this).toggleClass('active border-white')
			})
		})

	</script>
{{/if}}
