<h1>Produkte Übersicht</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Link</th>
      <th>Klicks</th>
			{{#is title "Produkte" }}
				<th>Autor</th>
			{{/is}}
			<th style="width:160px">Aktionen</th>
    </tr>
  </thead>
  <tbody>
		{{#each products as |product|}}
			<tr>
				<td>{{ product.title }}</td>
				<td>{{ readableStatus product.status }}</td>
				<td><a href="{{ product_url }}" target="_blank">Amazon</a></td>
				<td>{{ product.clicks }}</td>
				{{#is ../title "Produkte" }}
					<td>{{ product.author.nick }}</td>
				{{/is}}
				<td><button class="btn btn-outline-danger btn-sm loeschen" data-id="{{ product._id }}">L</button></td>
			</tr>
		{{/each}}
  </tbody>
</table>

<script type="text/javascript">

	$( document ).ready(function() {

		$('.loeschen').on('click', function() {
			let id = $(this).data('id');
			let _modal = $('#aysModal');
			let _what = $('.aysWhat');
			let _agree = $('#aysAgree');

			_what.html('Produkt löschen')

			_agree.off('click');
			_agree.on('click', function() {
				$.ajax({
					type: 'DELETE',
					url: '/produkte/'+id,
					async: true,
					success: function() { console.log('success, redirecting'); window.location.href = '/produkte?success=gelöscht'; },
					error: function(xhr, status, error) { console.log('XHR', xhr); console.log('STATUS', status); console.log('ERROR', error); }
				})
			})

			_modal.modal('show');
		})
	})

</script>
