<h1>
	Tags Übersicht
	<a class="btn btn-primary float-right" href="/tags/neu" role="button">Neuer Tag</a>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th style="width:160px">Actions</th>
    </tr>
  </thead>
  <tbody>
		{{#each tags as |tag|}}
			<tr>
				<td>{{ tag.name }}</td>
				<td><button class="btn btn-outline-danger btn-sm loeschen" data-id="{{ tag._id }}">L</button></td>
			</tr>
			{{#each tag.children as |child|}}
			<tr>
				<td>&mdash; &nbsp; {{ child.name }}</td>
				<td><button class="btn btn-outline-danger btn-sm loeschen" data-id="{{ child._id }}">L</button></td>
			</tr>
			{{/each}}
		{{/each}}
  </tbody>
</table>

<script type="text/javascript">

	$( document ).ready(function() {

		$('.loeschen').on('click', function() {
			let id = $(this).data('id');
			let _modal = $('#aysModal');
			let _what = $('.aysWhat');
			let _agree = $('#aysAgree');

			_what.html('Tag löschen')

			_agree.off('click');
			_agree.on('click', function() {
				$.ajax({
					type: 'DELETE',
					url: '/tags/'+id,
					async: true,
					success: function() { console.log('success, redirecting'); window.location.href = '/tags?success=gelöscht'; },
					error: function(xhr, status, error) { console.log('XHR', xhr); console.log('STATUS', status); console.log('ERROR', error); }
				})
			})

			_modal.modal('show');
		})
	})

</script>
