<h1 class="mb-3">Neuer Tag</h1>

<form method="POST" action="/tags/neu" class="mt-3">
	<div class="form-row">
		<div class="col-8 offset-2">
			<div class="card bg-info text-white">
				<div class="card-body">
					<h4 class="card-title">Daten</h4>
					<p class="card-text">
						<div class="form-group">
							<label for="name">Name</label>
							<input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ name }}">
							<small><span id="nameLength"></span> Zeichen</small>
						</div>
						<div class="form-group">
							<label for="parent">Gehört zu...</label>
							<select class="form-control" name="parent">
								<option value="">–</option>
								{{#each tags}}
								<option value="{{ _id }}">
									{{ name }}
								</option>
								{{/each}}
							</select>
						</div>
					</p>
				</div>
			</div>

			<input type="submit" class="btn btn-lg btn-primary btn-block mt-3" value="Speichern" />
		</div>
	</div>
</form>

<script type="text/javascript">

	$( document ).ready(function() {

		function updateNameLength() {
			let $val = $('#name').val();
			$('#nameLength').html($val.length);
		}

		updateNameLength();

		$('#name').on('input', updateNameLength)
	})

</script>
