.loginForm {
	padding:100px;
	max-width:500px;
	margin:0 auto;
}

.alertBar {
	position: absolute;
	width:50%;
	left:25%;
	bottom:20px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 62px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}
